p {
    border: 2px solid red;
    height: 100px; width: 100px;
    background-color: aqua;
    animation: moving 6s linear infinite;
}

@keyframes moving {
    0%{
        transform: translate(0px,0px);
    }
    25%{
        transform: translate(400px,0px);
    }
    50%{
        transform: translate(400px,400px);
    }
    75%{
        transform: translate(0px,400px);
    }
    100%{
        transform: translate(0px,0px);
    }
}